.card {
  display: flex;
  color: black;
  width: 200px;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  border: 1px solid rgb(230,230,230);
      }

.card p, .card h4 {
  position: relative;
  text-align: center;
  color: black;
}
